.red-text {
    color: red;
}

.blue-text {
    color: blue;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.test1 {
    width: 200px;
    height: 100px;
}