.red-text {
    color: red;
}

.blue-text {
    color: blue;
}

.container {
    display: flex;
    border: 5px solid black;
    height: 30vh;
    justify-content: center;
}
.test1 {
    width: 200px;
    height: 100px;
}

.box{
    width: 150px;
    height: 150px;
    font-size: 8em;
    text-align: center;
    border-radius: 15px;
}
#box1{
    background-color: rgb(255, 119, 119);
}
#box2{
    background-color: rgb(255, 255, 131);
}
#box3{
    background-color: rgb(255, 119, 119);
}
#box4{
    background-color: rgb(247, 244, 82);
}